body {
    background-color: #5F4B8BFF;
    margin: auto;
    width: 1000px;
}

/* Ultra Violet (#5F4B8BFF) and Blooming Dahlia (#E69A8DFF)    


*/
header {
    background-color: #E69A8DFF;
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    vertical-align: middle;
}

footer {
    background-color: #E69A8DFF;
    height: 60px;
    width: 100%;
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

h1 {
    color: #5F4B8BFF;
    font-family: fantasy;
    font-size: 40px;
    font-weight: bold;
    margin-top: 15px;
    text-align: center;
}

h6 {

    color: #5F4B8BFF;
    font-family: fantasy;
    font-size: 20px;
    font-weight: bold;
    margin-top: 5px;
    text-align: center;

}

#artistName{
    
    font-size: 20px;
    color: #E69A8DFF;
    font-weight: bold;
    text-align: center;
    
    
}

/* Цветове:
    фон - White, код: #FCF6F5FF
    цвят за header и footer - Space Cherry, код: #990011FF
*/
